.product-container {
  width: 100%;
  height: calc(100vh - 70px);
  @extend %flex-evenly;
  .product-left {
    @extend %flex-evenly;
    width: 50%;
    .product-small-gallery {
      @extend %flex-start;
      flex-direction: column;
      padding: p-horizontal-20;
      img {
        cursor: pointer;
        width: 60px;
        padding: 0.1rem 0;
      }
    }
    .product-main-image {
      @extend %flex-start;
      img {
        width: 400px;
        height: 600px;
        object-fit: cover;
        padding: 0 10px;
      }
    }
  }
  .product-right {
    @extend %flex-end;
    width: 40%;
    .product-content {
      h4 {
        font-size: 1.2rem;
      }
      h5 {
        font-size: 1rem;
        font-weight: 400;
      }
      p {
        font-size: 0.8rem;
        font-weight: 300;
        padding: 20px 0;
        padding-bottom: 0;
      }
      .product-sizes {
        select {
          outline: none;
          margin: 20px 0;
          padding: 15px 5px;
        }
        button {
          font-size: 1.3rem;
          border: none;
          background: transparent;
          outline: none;
          color: $f-color;
          cursor: pointer;
          padding: $p-vertical-20;
        }
      }
      .cart-button {
        padding: 10px 60px;
        border: 1px solid black;
        background: black;
        font-weight: 600;
        font-size: $f-small;
        transition: $transition;
        color: white;
        cursor: pointer;
      }
      .cart-button:hover {
        background: transparent;
        color: $f-color;
      }
      .product-styling {
        padding: $p-vertical-20;
      }
      .product-styling,
      .product-composition {
        button {
          color: $f-color;
          border: none;
          background: transparent;
          cursor: pointer;
        }
        .product-styling-paragraf,
        .product-composition-paragraf {
          opacity: 0;
          padding: 0;
          height: 0;
          overflow: hidden;
          transition: all 0.6s ease-out;
        }
      }
      .product-styling.active,
      .product-composition.active {
        .product-styling-paragraf,
        .product-composition-paragraf {
          opacity: 1;
          height: auto;
          padding: $p-vertical-20;
        }
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .product-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: auto;
    .product-left {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
      .product-small-gallery {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        flex-direction: row;
        padding: p-vertical;
        img {
          width: 100%;
          height: 900px;
          object-fit: cover;
          scroll-snap-align: start;
        }
      }
      .product-main-image {
        display: none;
      }
    }
    .product-right {
      width: 100%;
      text-align: center;
      padding: $p-20;
      .product-content {
        .product-sizes {
          justify-content: center;
          gap: 20px;
          align-items: center;
          button {
            border: none;
            background: transparent;
            outline: none;
            color: $f-color;
            cursor: pointer;
            padding: $p-vertical-20;
          }
        }
      }
    }
  }
  ::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}
