.hero-container {
  @extend %width-height-default;
  .hero-video {
    @extend %absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .title-container {
    @extend %width-height-100;
    @extend %flex-align-end;
    text-align: right;
    padding: 0 40px;
    .title-content {
      z-index: 200;
      h3 {
        font-size: 1.5rem;
        font-weight: lighter;
      }
      h2 {
        font-size: 2.6rem;
      }
      button {
        @extend %button;
      }
    }
  }
  .scroll-paragraf {
    position: absolute;
    bottom: 50px;
    right: 15px;
    transform: rotate(-90deg);
    p {
      font-size: 1.1rem;
      font-weight: lighter;
    }
  }
}
@media screen and (max-width: 550px) {
  .hero-container .title-container {
    @include flex-center();
    text-align: center;
    padding: 0;
  }
}
