.navbar-container {
  @extend %flex-between, %relative;
  width: 100%;
  height: 70px;
  padding: 0px 40px;
  z-index: 999;
  .navbar-left {
    @extend %flex-start;
    .navbar-logo {
      h1 {
        font-size: 1.6rem;
        width: 200px;
        flex: 2;
        text-align: center;
      }
    }
    ul {
      @extend %flex-center;
      padding-left: p-20;
      li {
        padding: $p-horizontal-10;
        text-align: center;
        cursor: pointer;
        a {
          transition: $transition;
        }
      }
    }
  }
  .navbar-right {
    @extend %flex-between;
    .navbar-search-container {
      @extend %flex-between;
      border: 1px solid #fff;
      border-radius: $rounded;
      padding: 5px 12px;
      input {
        border: none;
        outline: none;
        background: black;
      }
    }
    ul {
      @extend %flex-start;
      width: 100%;
      li {
        padding: $p-horizontal-20;
        text-align: center;
        cursor: pointer;
        a {
          transition: $transition;
        }
      }
      li:last-child {
        display: none;
      }
      li:nth-last-child(2) {
        padding: 0px 0px 0px 20px;
      }
    }
  }
}

@media (max-width: 1300px) {
  .navbar-left ul {
    @include absolute-minus-1000();
  }
  .navbar-right ul li {
    @include absolute-minus-1000();
  }
  .navbar-right ul li:last-child {
    display: flex !important;
    position: static !important;
  }

  .navbar-container.mobile {
    @include absolute();
    @include width-height-100();
    flex-direction: column;
    padding: 50px 0px;
    z-index: 999;
    background-color: #000;
    justify-content: center;
    .navbar-left {
      flex-direction: column;
      width: 100%;
      .navbar-logo.mobile {
        h1 {
          transition: all 0 !important;
        }
      }
    }
    .navbar-left.mobile ul {
      @include flex-between();
      @include relative-auto();
      flex-direction: column !important;
      margin-top: 50px;
      padding: 0;
      li {
        padding: 10px;
        a {
          font-size: 1.6rem;
        }
      }
    }
    .navbar-right.mobile {
      flex-direction: column-reverse;
    }
    .navbar-right.mobile ul {
      flex-direction: column;
      li {
        @include flex-between();
        @include relative-auto();
        flex-direction: column !important;
        padding: $p-20;
        a {
          font-size: 1.6rem;
        }
      }
      li:last-child {
        display: flex !important;
        position: absolute !important;
        top: 0px !important;
        right: 20px !important;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .navbar-container {
    @include flex-evenly();
    height: 100px;
    .navbar-left {
      @include flex-center();
      width: 100%;
    }
    .navbar-right {
      li:last-child {
        width: 50px;
      }
    }
  }
  .navbar-logo-search-wrapper {
    @include absolute-minus-1000();
  }
  .navbar-logo-search-wrapper.mobile {
    @include relative-auto();
  }
}
