.product-container {
  @extend %flex-evenly, %width-height-default;
  .product-left {
    @extend %flex-evenly;
    width: 50%;
    .product-gallery {
      @extend %flex-start;
      flex-direction: column;
      padding: p-horizontal-20;
      img {
        cursor: pointer;
        width: 60px;
        padding: 0.1rem 0;
      }
    }
    .product-image {
      @extend %flex-start;
      img {
        width: 350px;
        height: 500px;
        object-fit: cover;
      }
    }
  }
  .product-right {
    @extend %flex-end;
    width: 40%;
    .product-content {
      h4 {
        font-size: 1.2rem;
      }
      h5 {
        font-size: 1rem;
        font-weight: 400;
      }
      p {
        @extend %paragraf;
      }
      .size-button,
      .cart-button {
        @extend %button;
      }
      .cart-button {
        margin-left: 20px;
      }
      .size-button:hover,
      .cart-button:hover {
        @extend %button;
      }
      .styling-section,
      .composition-section {
        button {
          border: none;
          background: transparent;
          cursor: pointer;
        }
        p {
          display: none;
        }
      }
      .styling-section {
        padding: $p-vertical-20;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .product-container {
    @include flex-start();
    flex-direction: column;
    .product-left {
      width: 100%;
      @include flex-center();
      flex-direction: row-reverse;
      .product-gallery {
        @include flex-start();
        @include mobile-carousel();
        @include width-height-100();
        flex-direction: row;
        padding: p-vertical;
        img {
          @include width-height-100();
          object-fit: cover;
          scroll-snap-align: start;
        }
      }
      .product-image {
        display: none;
      }
    }
    .product-right {
      width: 100%;
      text-align: center;
      padding: $p-20;
      .product-content {
        .cart-button {
          margin: 20px 0px 0px 20px;
        }
      }
    }
  }
  ::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

@media screen and (max-width: 345px) {
  .product-right {
    .product-content {
      .cart-button {
        margin: 20px 0px 0px 0px !important;
      }
    }
  }
}
