.product-size-container {
  @extend %absolute-bottom;
  @extend %flex-center;
  align-items: flex-start;
  width: 325px;
  height: 425px;
  right: 50px;
  border-radius: 10px 10px 0 0;
  background-color: rgb(255, 255, 255);
  h5,
  p,
  button {
    color: black;
  }
  .product-size-context {
    .product-size-paragrafs {
      @extend %flex-between;
      width: 90%;
      margin: 0 auto;
      p {
        font-size: 0.8rem;
        color: #5f5e5f;
      }
    }
    .product-size-top {
      width: 90%;
      margin: 0 auto;
      @extend %flex-between;
      padding: $p-vertical-20;
      .product-size-title-price {
        @extend %flex-center;
        h5:first-child {
          padding: 0px 5px 0px 0px;
        }
        h5 {
          font-size: 1rem;
          color: #5f5e5f;
          font-weight: 600;
        }
      }
      img {
        width: 15px;
      }
    }
    .product-sizes {
      padding: $p-10;
      display: grid;
      grid-template-columns: repeat(3, 1fr) repeat(1, 0);
      grid-template-rows: repeat(2, 1fr) repeat(3, 0);
      h2 {
        @extend %flex-center;
        padding: 10px 30px;
        margin: 0.3rem;
        background-color: #f1eff1;
        border: 2px solid #ebe9eb;
        border-radius: 5px;
        transition: $transition;
        cursor: pointer;
        color: #757475;
      }
      h2:hover {
        color: #1e1d1e;
        border: 1px solid #686769;
      }
    }
    .product-size-body {
      @extend %flex-center;
      padding: $p-vertical-20;
      flex-direction: column;
      p {
        font-size: 0.8rem;
        color: #5f5e5f;
      }
    }
    .product-size-button {
      @extend %flex-center;
      button {
        width: 90%;
        height: 50px;
        margin: auto;
        border: none;
        outline: none;
        color: white;
        background-color: black;
        cursor: pointer;
        transition: $transition;
      }
    }
    button:hover {
      background-color: #1a191b;
      color: #f1eff1;
    }
  }
}
