@import "_variables.scss";
@import "_placeholders.scss";
@import "__hero.scss";
@import "__navbar.scss";
@import "__productContent.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: $f-color;
  font-size: $f-default;
  font-family: $f-family;
  background-color: $bg-default;
}
a {
  text-decoration: none;
  opacity: 0.9;
  color: $f-color;
}
a:hover {
  opacity: 0.8;
}

ul {
  list-style: none;
}
