.navbar-container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  .navbar-left {
    flex: 1;
    .navbar-logo-search-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .navbar-logo {
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        opacity: 0.9;
        cursor: pointer;
      }
    }
    .navbar-logo h3:hover {
      opacity: 0.8;
    }
    .navbar-search-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #fff;
      border-radius: 50px;
      padding: 5px 12.5px;
      input {
        border: none;
        outline: none;
        background: black;
      }
    }
  }
  .navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 3;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      li {
        padding: 0 10px;
        text-align: center;
        cursor: pointer;
        a {
          transition: 0.1s ease-in-out;
          opacity: 0.9;
        }
        a:hover {
          opacity: 0.8;
        }
      }
      li:last-child {
        display: none;
      }
    }
  }
}
.navbar-container.mobile {
  height: 100vh;
  flex-direction: column;
  padding: 50px;
  z-index: 99;
  background-color: #000;
}
.navbar-left.mobile .navbar-logo-search-wrapper.mobile {
  flex-direction: column;
  .navbar-logo.mobile {
    width: 100%;
    h3 {
      font-size: 2rem;
      margin-bottom: 50px;
      transition: 0 !important;
    }
  }
  .navbar-search-container.mobile {
    padding: 10px 30px;
    position: relative;
    top: auto;
  }
}
.navbar-right.mobile ul {
  flex-direction: column;
  height: 50vh;
}
.navbar-right.mobile ul li {
  position: relative;
  top: auto;
}
.navbar-right.mobile li a {
  font-size: 1.5rem;
  transition: 0 !important;
}
.cartIcon.mobile {
  width: 45px;
}

@media (max-width: 900px) {
  .navbar-right ul li,
  .navbar-left .navbar-logo-search-wrapper .navbar-search-container {
    position: absolute;
    top: -1000px;
  }
  .navbar-right li:last-child {
    display: flex !important;
    position: absolute !important;
    top: 27px !important;
    right: 40px !important;
  }
}
