.product-container {
  width: 100%;
  height: calc(100vh - 100px);
  .product-left {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .product-gallery {
      display: flex;
      flex-direction: column;
      img {
        padding: 2px 0px;
      }
    }
  }
}
