.product-container {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .product-left {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .product-gallery {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 0 20px;
      img {
        cursor: pointer;
        width: 60px;
        padding: 0.1rem 0;
      }
    }
    .product-image {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        width: 350px;
        height: 500px;
        object-fit: cover;
        object-position: top center;
      }
    }
  }
  .product-right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .product-content {
      h4 {
        font-size: 1.2rem;
      }
      h5 {
        font-size: 1rem;
        font-weight: 400;
      }
      p {
        font-size: 0.8rem;
        font-weight: 300;
        padding: 20px 0;
      }
      .size-button,
      .cart-button {
        padding: 10px 30px;
        background: transparent;
        border: 1px solid #fff;
        font-size: 0.8rem;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
      }
      .cart-button {
        margin-left: 20px;
      }
      .size-button:hover,
      .cart-button:hover {
        background: white;
        color: black;
      }
      .styling-section,
      .composition-section {
        button {
          border: none;
          background: transparent;
          cursor: pointer;
        }
        p {
          display: none;
        }
      }
      .styling-section {
        padding: 20px 0;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .product-container {
    height: calc(180vh - 100px);
    justify-content: flex-start;
    flex-direction: column;
    .product-left {
      flex-direction: row-reverse;
      .product-gallery {
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        overflow: hidden;
        img {
          width: 350px;
          height: 500px;
          object-fit: cover;
          padding: 0 0.5rem;
        }
      }
    }
    .product-right {
      text-align: center;
      .product-content {
        .cart-button {
          margin: 20px 0px 0px 0px;
        }
      }
    }
  }
}
