.footer-container {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  .footer-top {
    width: 90%;
    margin: $m-auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .footer-about {
      width: 450px;
    }
    h3 {
      font-size: 1rem;
      font-weight: 400;
      padding: 5px 0;
    }
    h5 {
      font-size: 0.9rem;
      font-weight: 300;
    }
    p,
    a {
      font-size: 0.9rem;
      font-weight: 300;
    }
    .footer-address {
      width: 175px;
    }
  }
  .footer-bottom {
    width: 90%;
    margin: $m-auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $p-vertical-20;
    .footer-payments {
      display: flex;
      align-items: center;
      h5 {
        font-size: 0.7rem;
        font-weight: 400;
      }
      img {
        width: 75px;
      }
    }
    .footer-links {
      a {
        font-size: 0.7rem;
        padding: $p-horizontal-10;
      }
    }
  }
}
@media screen and (max-width: 860px) {
  .footer-container {
    height: auto;
    text-align: center;
    .footer-top {
      align-items: center;
      flex-direction: column;
      padding: $p-vertical-20;
      h3 {
        font-size: 1.1rem;
      }
      .footer-about,
      .footer-address,
      .footer-contact,
      .footer-details {
        width: 95%;
        padding: $p-vertical-10;
      }
    }
    .footer-bottom {
      flex-direction: column;
    }
  }
}
